* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

#app .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#app .container header {
  position: relative;
  width: 310px;
  min-height: 100%;
  padding: 30px 40px;
  border-right: solid 1px #e0e0e0;
  background: white;
}

#app .container header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -20px;
}

#app .container header .logo img {
  width: 40px;
  margin-right: 10px;
}

#app .container header .logo a {
  color: #263238;
  font-size: 24px;
}

#app .container header .logo a span {
  font-weight: 700;
}

#app .container header h2 {
  margin: 30px 0 20px;
  color: #607d8b;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#app .container header h2 a {
  color: #607d8b;
}

#app .container header h2 a:hover {
  color: #2196f3;
}

#app .container header nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  line-height: 2;
  color: #263238;
  font-weight: bold;
}

#app .container header nav ul li a {
  color: #263238;
}

#app .container header nav ul li a:hover {
  color: #2196f3;
}

#app .container header nav + a {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  border-bottom: solid 1px #e0e0e0;
  color: #263238;
}

#app .container header nav + a span {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #263238;
}

#app .container header nav + a:hover {
  color: #2196f3;
}

#app .container header .share {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 40px;
  width: 312px;
  text-align: center;
}

#app .container header .share a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  padding: 12px 8px;
  line-height: 24px;
  font-size: 24px;
  -webkit-transition: 300ms -webkit-transform;
  transition: 300ms -webkit-transform;
  transition: 300ms transform;
  transition: 300ms transform, 300ms -webkit-transform;
}

#app .container header .share a i {
  color: #fff;
}

#app .container header .share a.twitter {
  background-color: #1da1f2;
}

#app .container header .share a.facebook {
  background-color: #3b5998;
}

#app .container header .share a.linkedin {
  background-color: #0077b5;
}

#app .container header .share a.pinterest {
  background-color: #bd081c;
}

#app .container header .share a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 1;
}

#app .container .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

#app .container .main .filter {
  position: relative;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  padding-left: 14px;
  width: calc(100% - 420px);
  border-bottom: solid 1px #e0e0e0;
  border-left: solid 1px #e0e0e0;
  background-color: #fff;
}

#app .container .main .filter .search-bar {
  position: relative;
  color: #607d8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .container .main .filter .search-bar span {
  margin-left: 1.5rem;
}

#app .container .main .filter .search-bar input {
  color: #607d8b;
  caret-color: #607d8b;
  display: block;
  height: 24px;
  padding-left: 30px;
}

#app .container .main .filter .search-bar i {
  position: absolute;
  left: 0;
  top: 5px;
  color: #607d8b;
}

#app .container .main .filter .search-bar i.fas.fa-arrow-left {
  cursor: pointer;
}

#app .container .main .filter .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .container .main .filter .collections .download-collections {
  padding-right: 14px;
  border-right: 1px solid #607d8b79;
  margin-right: 14px;
}

#app .container .main .filter .collections .download-collections ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.33;
}

#app .container .main .filter .collections .download-collections ul li {
  cursor: pointer;
}

#app .container .main .filter .collections .download-collections ul li a {
  pointer-events: none;
  margin-left: 15px;
  color: #607d8b;
  font-size: 18px;
}

#app .container .main .filter .collections .download-collections ul span {
  margin-left: 15px;
  color: #607d8b;
  font-weight: 300;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
}

#app .container .main .filter .collections .download-collections ul.active {
  opacity: 1;
}

#app .container .main .filter .collections select {
  color: #607d8b;
  opacity: 0.33;
}

#app .container .main .filter .collections select.active {
  opacity: 1;
}

#app .container .main .copied {
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 15px;
  background: rgba(38, 50, 56, 0.75);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  z-index: 2000000;
}

#app .container .main .copied span {
  color: #fff;
}

#app .container .colors {
  position: relative;
  z-index: 1;
  padding-top: 55px;
}

#app .container .colors .color {
  position: relative;
  padding: 15px 15px 15px 0;
  margin-left: 15px;
  border-bottom: solid 1px #e0e0e0;
  cursor: pointer;
}

#app .container .colors .color .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app .container .colors .color .main-info .title {
  min-width: 20%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#app .container .colors .color .main-info .title h1 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: #263238;
  font-weight: 400;
  width: 150px;
}

#app .container .colors .color .main-info .title i {
  display: none;
  position: absolute;
  left: -23px;
  background-color: white;
  color: skyblue;
}

#app .container .colors .color .main-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#app .container .colors .color .main-info ul li button.color-btn {
  display: block;
  width: 57px;
  height: 40px;
  padding: 8px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  -webkit-box-shadow: inset 0 0 0 1px #0000001a;
          box-shadow: inset 0 0 0 1px #0000001a;
  margin-bottom: 2px;
  z-index: 99999;
  cursor: pointer;
  margin-right: 10px;
}

#app .container .colors .color .main-info ul li button.color-btn span {
  visibility: hidden;
}

#app .container .colors .color .main-info ul li button.color-btn i {
  visibility: hidden;
  margin-right: 5px;
}

#app .container .colors .color .main-info ul li button.color-btn:hover i {
  visibility: visible;
}

#app .container .colors .color .main-info ul li input {
  position: absolute;
  left: -99999px;
}

#app .container .colors .color .color-detail {
  display: none;
  font-size: 14px;
  font-size: 14px;
  color: #607d8b;
  letter-spacing: -0.02em;
  margin-top: 15px;
}

#app .container .colors .color .color-detail span,
#app .container .colors .color .color-detail a {
  margin-right: 10px;
  color: #607d8b;
}

#app .container .colors .color .color-detail span:hover,
#app .container .colors .color .color-detail a:hover {
  text-decoration: underline;
}

#app .container .colors .color.active .main-info ul {
  width: 100%;
}

#app .container .colors .color.active .main-info ul li {
  width: 15%;
  margin-right: 8px;
}

#app .container .colors .color.active .main-info ul li button {
  width: 100%;
}

#app .container .colors .color.active .main-info ul li button span {
  visibility: hidden;
}

#app .container .colors .color.active .main-info ul li button:hover span {
  visibility: visible;
}

#app .container .colors .color.active .main-info .title i {
  display: block;
}

#app .container .colors .color.active .color-detail {
  display: block;
}

@media (max-width: 1024px) {
  #app header {
    display: none;
  }
  #app .main .filter {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #app .main .filter .search-bar {
    margin-left: 80px;
  }
  #app .main .filter .collections {
    display: none !important;
  }
  #app .main .colors {
    padding: 1rem;
    padding-top: 3.2rem;
  }
  #app .main .colors .color .main-info .title {
    min-width: 50% !important;
  }
}
/*# sourceMappingURL=main.css.map */